<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Luffy_WeiXin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8302D6A81DCC20CE009E70E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8302D6C11DCC20CF009E70E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8302D6CC1DCC20CF009E70E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
